body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #fcfcfc;

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (max-width: 767.98px) {
    background-image: url(../images/bg_image/bg_phone_1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/bg_image/bg_phone_2x.jpg);
    }
  }
  @media screen and (min-width: 768px) {
    background-image: url(../images/bg_image/bg_tablet_1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/bg_image/bg_tablet_2x.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    background-image: url(../images/bg_image/bg_desctop_1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/bg_image/bg_desctop_2x.jpg);
    }
  }
}

// .wrapper {
//   min-height: 100%;
//   display: flex;
//   flex-direction: column;
//   overflow: clip;
// }
