body {
  font-family: 'Montserrat', sans-serif;
  background-image: url(../images/BG_image/bg_desctop.jpg);
  font-weight: 400;
  color: var(--main-color-text);
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
