// *,
// *::before,
// *::after {
//   padding: 0;
//   margin: 0;
//   border: 0;
//   box-sizing: border-box;
// }
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
html,
body {
  height: 100%;
  line-height: 1;
}
// button,
// input {
//   font-weight: inherit;
//   font-size: inherit;
//   color: inherit;
//   font-family: inherit;
// }
// button {

//   background-color: inherit;
// }
a,
button {
  text-decoration: none;
  cursor: url(../images/pointer.png), auto;
}
