<section class="contacts">
  <div class="contacts-container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__list">
      <li class="location-card">
        <span class="location-card__type">Cafe</span>
        <p class="location-card__city">Chicago</p>
        <address class="location-card__address">
          <a
            class="address__link"
            target="”_blank”"
            href="https://goo.gl/maps/BB3MGNqaYgHEgbCX7"
            >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
          >
        </address>
        <ul class="location-card__mode">
          <li class="location-card__work-time">
            <p class="location-card__days">Monday - Friday</p>
            <p class="location-card__hours">06:00 AM - 10:00 PM</p>
          </li>
          <li class="location-card__work-time">
            <p class="location-card__days">Saturday - Sunday</p>
            <p class="location-card__hours">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <address class="location-card__contacts">
          <a class="location-card__tel" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
          <a class="location-card__mail" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </address>
      </li>
      <li class="location-card">
        <span class="location-card__type">Foodtrack</span>
        <p class="location-card__city">Los Angeles</p>
        <address class="location-card__address">
          <a
            class="address__link"
            target="”_blank”"
            href="https://goo.gl/maps/7phU8m67vWknBY7ZA"
            >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
          >
        </address>
        <ul class="location-card__mode">
          <li class="location-card__work-time">
            <p class="location-card__days">Monday - Friday</p>
            <p class="location-card__hours">06:00 AM - 10:00 PM</p>
          </li>
          <li class="location-card__work-time">
            <p class="location-card__days">Saturday - Sunday</p>
            <p class="location-card__hours">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <address class="location-card__contacts">
          <a class="location-card__tel" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
          <a class="location-card__mail" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </address>
      </li>
      <li class="location-card">
        <span class="location-card__type">Cafe</span>
        <p class="location-card__city">New York</p>
        <address class="location-card__address">
          <a
            class="address__link"
            target="”_blank”"
            href="https://goo.gl/maps/ZXDRofWVANyWoKcd8"
            >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
          >
        </address>
        <ul class="location-card__mode">
          <li class="location-card__work-time">
            <p class="location-card__days">Monday - Friday</p>
            <p class="location-card__hours">06:00 AM - 10:00 PM</p>
          </li>
          <li class="location-card__work-time">
            <p class="location-card__days">Saturday - Sunday</p>
            <p class="location-card__hours">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <address class="location-card__contacts">
          <a class="location-card__tel" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
          <a class="location-card__mail" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </address>
      </li>
    </ul>
  </div>
</section>
