<footer class="footer">
      <div class="container">
        <ul class="footer_btn-list list">
          <li class="footer_btn-item">
            <button type="button" class="footer-location__button button button--filling">
              Our Locations<svg class="icon-biger" width="5px" height="10px">
                <use href="./image/symbol-defs.svg#biger"></use>
              </svg>
            </button>
          </li>
          <li class="footer_btn-item">
            <button type="button" class="footer-franchise__button button button--transparent">
              Franchise<svg class="icon-biger" width="5px" height="10px">
                <use href="./image/symbol-defs.svg#biger"></use>
              </svg>
            </button>
          </li>
        </ul>
        <ul class="footer-content list">
          <li class="footer-main_item">
            <ul class="footer_titles-list list">
              <li class="footer_titles-item footer_homemade-title">
                homemade ice cream made
              </li>
              <li class="footer_titles-item footer_passion-title">
                with passion
              </li>
            </ul>
          </li>
          <li class="footer-main_item footer-links">
            <ul class="footer_icons-list list">
              <li class="footer_icon-item">
                <a
                  class="footer_icon-link"
                  href="https://github.com/"
                  target="_blank"
                  rel="noreferrer noopener nofollow"
                >
                  <svg class="icon-github" width="20px" height="20px">
                    <use href="./image/symbol-defs.svg#git"></use>
                  </svg>
                </a>
              </li>
              <li class="footer_icon-item">
                <a
                  class="footer_icon-link"
                  href="https://web.telegram.org/z/"
                  target="_blank"
                  rel="noreferrer noopener nofollow"
                >
                  <svg class="icon-telegram" width="20.4px" height="15.87px">
                    <use href="./image/symbol-defs.svg#telegram"></use>
                  </svg>
                </a>
              </li>
              <li class="footer_icon-item">
                <a
                  class="footer_icon-link"
                  href="https://www.facebook.com/"
                  target="_blank"
                  rel="noreferrer noopener nofollow"
                >
                  <svg class="icon-facebook" width="9.35px" height="20.4px">
                    <use href="./image/symbol-defs.svg#facebook"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <a class="footer_tel" href="tel:+610383766284"
              ><span class="footer_tel-text">Feel free to contact </span>+61 (0) 383 766 284</a
            >
          </li>
        </ul>
      </div>
      <div class="copyright">
        <div class="container">
          <p class="copyright_text">© 2022 - IceCream. All Rights Reserved.</p>
        </div>
      </div>
    </footer>