<section class="header">
  <div class="header-container container">
    <div class="header__logo">
      <a href="#home">
        <picture>
          <source media="(min-width: 1200px)"
            srcset="../src/images/logo/logo_l@1x.png 1x, ../src/images/logo/logo_l@2x.png 2x">
          <source media="(min-width: 768px)"
            srcset="../src/images/logo/logo_m@1x.png 1x, ../src/images/logo/logo_m@2x.png 2x">
          <source media="(max-width: 767px)"
            srcset="../src/images/logo/logo_s@1x.png 1x, ../src/images/logo/logo_s@2x.png 2x">
          <img class="header__logo-img" src="../src/images/logo/logo_s@1x.png" alt="Logo" loading="lazy">
        </picture>
      </a>
    </div>
    <nav class="header__nav">
      <ul class="header__list list">
        <li class="hero-header__item">
          <a href="#home" class="header__link">Home</a>
        </li>
        <li class="header__item">
          <a href="#about" class="header__link">How it’s made?</a>
        </li>
        <li class="header__item">
          <a href="#products" class="header__link">Our products</a>
        </li>
        <li class="header__item">
          <a href="#contacts" class="header__link">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="header__buttons">
      <button class="menu-toggle js-open-menu" aria-expanded="false">
        <svg width="40" height="40" class="mobile-menu-icon">
          <use href="../src/images/icons.svg#icon-eva_menu-fill"></use>
        </svg>
      </button>
      <button class="header__button-buy button button--filling" type="button">
        Buy now
        <svg width="12" height="12">
          <use href="../src/images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>