<section class="header">
  <div class="header-container container">
    <div class="header__logo">
      <picture>
        <source media="(min-width: 1200px)"
          srcset="../src/images/logo/logo_l@1x.png 1x, ../src/images/logo/logo_l@2x.png 2x">
        <source media="(min-width: 768px)"
          srcset="../src/images/logo/logo_m@1x.png 1x, ../src/images/logo/logo_m@2x.png 2x">
        <source media="(max-width: 767px)"
          srcset="../src/images/logo/logo_s@1x.png 1x, ../src/images/logo/logo_s@2x.png 2x">
        <img class="header__logo-img" src="../src/images/logo/logo_s@1x.png" alt="Logo" loading="lazy">
      </picture>
    </div>
    <nav class="header__nav">
      <ul class="header__list list">
        <li class="hero-header__item">
          <a href="" class="header__link">Home</a>
        </li>
        <li class="header__item">
          <a href="" class="header__link">How it’s made?</a>
        </li>
        <li class="header__item">
          <a href="" class="header__link">Our products</a>
        </li>
        <li class="header__item">
          <a href="" class="header__link">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="header__buttons">
      <button class="menu-toggle js-open-menu" aria-expanded="false">
        <svg width="40" height="40" class="mobile-menu-icon">
          <use href="../src/images/icons.svg#icon-menu"></use>
        </svg>
      </button>
      <button class="header__button-buy button button--filling" type="button">
        Buy now
        <svg width="12" height="12">
          <use href="../src/images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>

<!-- hero -->

<section class="hero">
  <div class="container">
    <div class="hero__block">
      <div class="hero__title">
        <h1 class="hero__paregrahp">
          ice cream made with <b class="passion">passion</b>
        </h1>
        <div class="hero__button">
          <a href="#products" class="hero__button-product button">Products</a>
          <a href="#about" class="hero__button-products button button--transparent">How it’s made?</a>
        </div>
      </div>
      <div class="hero__icecream">
        <picture class="hero__plate-ice">
          <source srcset="
              ../src/images/header-hero/plate-ice_b@1x.png 1x,
              ../src/images/header-hero/plate-ice_b@2x.png 2x
            " media="(min-width: 1200px)" />
          <source srcset="
              ../src/images/header-hero/plate-ice-tablet_@1x.png 1x,
              ../src/images/header-hero/plate-ice-tablet_@2x.png 2x
            " media="(min-width: 768px)" />
          <img src="../src/images/header-hero/plate-ice_b@1x.png" alt="a plate with ice cream" loading="lazy" />
        </picture>
        <div class="hero__text-arrow">
          <h3 class="hero__big-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </h3>
          <svg class="hero__big-text-icon" width="40" height="16">
            <use href="../src/images/icons.svg#icon-arrow-long"></use>
          </svg>
        </div>
      </div>
    </div>
    <picture class="hero__big-icecream">
      <source srcset="
          ../src/images/header-hero/desktop_big-ice1x.png 1x,
          ../src/images/header-hero/desktop_big-ice2x.png 2x
        " media="(min-width: 1200px)" />
      <source srcset="
          ../src/images/header-hero/tablet_t-ice@1x.png 1x,
          ../src/images/header-hero/tablet_t-ice@2x.png 2x
        " media="(min-width: 768px)" />
      <source srcset="
          ../src/images/header-hero/mobile_s-ice@1x.png 1x,
          ../src/images/header-hero/mobile_s-ice@2x.png 2x
        " media="(min-width: 480px)" />
      <img src="../src/images/header-hero/mobile_s-ice@1x.png" alt="big-icecream" loading="lazy" />
    </picture>
    <div class="hero__label">
      <ul class="hero__label-items">
        <li class="hero__label-item">
          <p class="hero__label-counter">16</p>
          <p class="hero__label-text">cafes</p>
        </li>
        <li class="hero__label-item">
          <p class="hero__label-counter">23</p>
          <p class="hero__label-text">food trucks</p>
        </li>
      </ul>
    </div>

  </div>
</section>