<div class="buynow__backdrop is-hidden" data-modal-buynow>
  <div class="buynow__modal">
    <button class="buynow__modal--close" data-modal-buynow-close>
      <svg class="close--icon" width="20" height="20" aria-label="close">
        <use href="../src/images/icons.svg#icon-close"></use>
      </svg>
    </button>

    <form name="buy__modal" autocomplete="off">
      <b class="buynow">Buy now</b>
      <div class="buynow__card-box">
        <div class="buynow__card-wrapper">
          <input name="ice-cream" class="buynow__card-input" type="checkbox" />
          <div class="buynow__box-title buynow__box-first">
            <span class="buynow__card-title">ICE CREAM</span>
          </div>
        </div>
        <div class="buynow__card-wrapper">
          <input name="ice coffee" class="buynow__card-input" type="checkbox" />
          <div class="buynow__box-title buynow__box-second">
            <span class="buynow__card-title">ICE COFFE</span>
          </div>
        </div>
        <div class="buynow__card-wrapper">
          <input name="milkshake" class="buynow__card-input" type="checkbox" />
          <div class="buynow__box-title buynow__box-third">
            <span class="buynow__card-title">MILKSHAKE</span>
          </div>
        </div>
      </div>

      <div class="buynow__form">
        <div class="buynow__form--field">
          <label for="name" class="buynow__form--label"></label>
          <input
            type="text"
            class="buynow__form--input"
            name="name"
            id="name"
            placeholder="Name"
            pattern="[A-Za-z]{3,}"
            required
          />

        </div>
      </div>
      <div class="buynow__card-wrapper">
        <input name="milkshake" class="buynow__card-input" type="checkbox" />
        <div class="buynow__box-title buynow__box-third">
          <span class="buynow__card-title">MILKSHAKE</span>
        </div>
      </div>
    </div>

    <div class="buynow__form">
      <div class="buynow__form--field">
        <label for="name" class="buynow__form--label"></label>
        <input type="text" class="buynow__form--input" name="name" id="name" placeholder="Name" pattern="[A-Za-z]{3,}"
          required />
      </div>
      <div class="buynow__form--field">
        <label for="telephone" class="buynow__form--label"></label>
        <input type="tel" class="buynow__form--input" name="telephone" id="telephone" placeholder="Phone"
          pattern="[0-9]{2}[0-9]{3}[0-9]{3}[0-9]{4}" required />
      </div>
      <div class="buynow__form--field">
        <label for="comment" class="buynow__form--label"></label>
        <textarea class="buynow__textarea--input" name="comment" id="comment" rows="4" placeholder="Comment"></textarea>
      </div>
    </div>
    <button type="submit" class="buynow__submit--button button button--filling">
      Submit
    </button>
    </form>
  </div>
</div>