<div class="backdrop is-hidden" data-modal-location>
    <div class="locations__modal">
      <button class="button--close" data-modal-location-close>
        <svg class="close--icon" width="20" height="20" aria-label="close">
          <use href="../src/images/icons.svg#icon-close"></use>
        </svg>
      </button>
      <b class="locations">Our Locations</b>
      <div class="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d330978.84926997474!2d34.557239!3d49.60204400000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e5a6576a0d%3A0xcdfded8b7b40ec91!2sPoltava%2C%20Poltava%20Oblast%2C%2036000!5e0!3m2!1sen!2sua!4v1671936814289!5m2!1sen!2sua"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
      <div class="locations__button">
        <a
          target="_blank"
          rel="norefrrer nopener nofollow"
          href="https://www.google.com/maps/@13.7431908,100.5632536,15z"
          >Open map</a
        >
      </div>
    </div>
  </div>
