<div class="franchise__backdrop is-hidden" data-modal-franchise>
  <div class="franchise__modal">
    <button class="ranchise__modal--close" data-modal-franchise-close>
      <svg class="close--icon" width="20" height="20" aria-label="close">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>

    <!-- Модалка -->
    <form name="franchise__modal">
      <b class="thank"
        >Thank you for your interest in owning an Ice Cream shop</b
      >
      <p class="information">
        Due to the overwhelming volume of franchise requests we are not
        accepting new franchisee applications at this time. Once the application
        process resumes, we will contact you for further information. Please
        fill out the contact information below and we will reach out for
        additional information. We appreciate your patience.
      </p>
      <div class="franchise__form">
        <div class="franchise__form--field">
          <label for="name" class="franchise__form--label"></label>
          <input
            type="text"
            class="franchise__form--input"
            name="name"
            id="name"
            placeholder="Name"
          />
        </div>
        <div class="franchise__form--field">
          <label for="telephone" class="franchise__form--label"></label>
          <input
            type="tel"
            class="franchise__form--input"
            name="telephone"
            id="telephone"
            placeholder="Phone"
          />
        </div>
        <div class="franchise__form--field">
          <label for="email" class="franchise__form--label"></label>
          <input
            type="email"
            class="franchise__form--input"
            name="email"
            id="email"
            placeholder="Email"
          />
        </div>
        <div class="franchise__form--field">
          <label for="comment" class="franchise__form--label"></label>
          <textarea
            class="franchise__textarea--input"
            name="comment"
            id="comment"
            rows="8"
            placeholder="Comment"
          ></textarea>
        </div>
      </div>
      <button type="submit" class="franchise__submit--button">Submit</button>
    </form>
  </div>
</div>
