.button {
  display: inline-block;
  flex: 0 0 auto;
  text-align: center;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.28; /* 18/14 */

  color: #000;
  border-radius: 10px;
  border: 2px solid #f8d24e;
  transition: background-color 0.3s var(--timings) 0s;
}

.button-yellow {
  background: #f8d24e;
}
