.button {
  display: inline-block;
  flex: 0 0 auto;
  text-align: center;
  // cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28; /* 18/14 */

  color: #000;
  border-radius: 10px;
  border: 2px solid #f8d24e;
  transition: background-color 0.3s var(--timings) 0s,
    border 0.3s var(--timings) 0s, color 0.3s var(--timings) 0s;

  &:hover {
    border: 2px solid #0a8817;
  }
  @media screen and (min-width: 1200px) {
    &:focus {
      color: #fcfcfc;
      border: 2px solid #0a8817;
    }
  }
}

.button--filling {
  background-color: #f8d24e;
  &:hover {
    background-color: #0a8817;
  }
  @media screen and (min-width: 1200px) {
    &:focus {
      color: #fcfcfc;
      background-color: #0a8817;
    }
  }
}
.button--transparent {
  color: #f8d24e;
  border: none;
  &:hover {
    border: none;
    color: #0a8817;
  }
  @media screen and (min-width: 1200px) {
    &:focus {
      border: none;
      color: #fcfcfc;
    }
  }
}
