.about-section{
    background-color:  $bgGreenColor;
    padding-top: 60px;
}

.about__label{
    text-align: center;
    text-transform: uppercase;
    color: $main-color-text;
}

.about__title{
    font-family: 'Seymour One', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: $main-color-text;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
}

.about-content{
    display: flex;
}

.about-main__image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-main__text--first,
.about-main__text--second{
    color: $main-color-text;
}

.btn{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: calc(18 / 14);
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    padding: 12px 34px;
    border: none;
    border-radius: 10px;
}

.about-main__icon{
    margin-left: 8px;
}


