.footer {
    padding-top: 935px;
    background: #84A178;

    @media screen and (min-width: 768px) {
        padding-top: 278px;
    }
    @media screen and (min-width: 1200px) {
        padding-top: 474px;
    }
}

/*Buttons*/

.footer_btn-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    color: #131313;

    @media screen and (max-width: 767px) {
        max-width: 200px;
        display: block;
        text-align: center;
    }

    @media screen and (min-width: 768px) {
        height: 42px;
    }
}

.footer-location__button {
    padding: 12px 38px;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #0A8817;
    }

    &:focus {
        color: #FCFCFC;
    }
}

.footer-franchise__button {
    padding: 10px 54px;

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border: 2px solid #0A8817;
    }

    &:focus {
        color: #FCFCFC;
    }

    @media screen and (max-width: 767px) {
        margin-top: 16px;
    }

    @media screen and (min-width: 768px) {
        margin-left: 16px;
    }
}

.icon-biger {
    margin-left: 4px;
    width: 12px;
    height: 12px;
    fill: #000;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-location__button:focus .icon-biger,
.footer-franchise__button:focus .icon-biger {
    fill: #FCFCFC;
}

/*Footer titles*/

.footer-content {
    display: block;
    justify-content: space-between;

    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.footer_titles-list {
    display: inline-block;
    margin-top: 60px;
    text-transform: uppercase;
    color: #FCFCFC;

    @media screen and (min-width: 768px) {
        margin-top: 40px;
    }

    @media screen and (min-width: 1200px) {
        margin-top: 120px;
    }
}

.footer_homemade-title {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(22/18);

    @media screen and (max-width: 767px) {
        max-width: 232px;
    }

    @media screen and (min-width: 768px) {
        font-weight: 700;
        font-size: 26px;
        line-height: calc(32/26);
        letter-spacing: 0.04em;
        width: 353px;
    }

    @media screen and (min-width: 1200px) {
        width: 507px;
        font-weight: 400;
        font-size: 30px;
        line-height: calc(37/30);
    }
}

.footer_passion-title {
    margin-top: 16px;
    width: 200px;
    font-weight: 700;
    font-size: 34px;
    line-height: calc(41/34);
    letter-spacing: 0.04em;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
        margin-top: 8px;
        font-weight: 700;
        font-size: 48px;
        line-height: calc(59/48);
        letter-spacing: 0.06em;
        width: 353px;
    }

    @media screen and (min-width: 1200px) {
        width: 507px;
        font-size: 58px;
        line-height: calc(71/58);
    }
}

/*Links*/

.footer_icons-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: auto;
    margin-top: 60px;
    max-width: 142px;

    @media screen and (min-width: 768px) {
        margin-top: 101px;
        width: 162px;
        height: 35px;
    }

    @media screen and (min-width: 1200px) {
        margin-top: 138px;
    }
}

.footer_icon-item {
    width: 34px;
    height: 34px;
}

.footer_icon-link {
    display: flex;
    width: 34px;
    height: 34px;
    justify-content: center;
    align-items: center;
    background-color: #F8D24E;
    border-radius: 50%;
    fill: #84A178;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: #FCFCFC;
    }
}

/*Footer tel*/

.footer_tel {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    text-align: end;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 186%;
    color: #FCFCFC;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        color: #F8D24E;
    }

    &:focus {
        color: #0A8817;
    }

    @media screen and (min-width: 768px) {
        margin-top: 34px;
        height: 27px;
        font-size: 14px;
    }

    @media screen and (min-width: 1200px) {
        margin-top: 40px;
        font-size: 16px;
        letter-spacing: 0.02em;
    }
}

.footer_tel-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 186%;
    color: #131313;


}

.copyright {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 100%;
    height: 82px;
    border-top: 1px solid #E1E1E1;

    @media screen and (min-width: 768px) {
        margin-top: 32px;
    }

    @media screen and (min-width: 768px) {
        height: 50px;
    }
}

.copyright_text {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat';
    width: 260px;
    font-weight: 700;
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0.02em;
    color: #7A7A7A;

    @media screen and (max-width: 767px) {
        width: 140px;
    }
    
    @media screen and (min-width: 768px) {
        margin-top: 12px;
    }
}


/*.button {
    display: inline-block;
    flex: 0 0 auto;
    text-align: center;
    // cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28;
    color: #000;
    border-radius: 10px;
    border: 2px solid #f8d24e;
    transition: background-color 0.3s var(--timings) 0s,
        border 0.3s var(--timings) 0s, color 0.3s var(--timings) 0s;

    &:hover,
    &:focus {
        background-color: #0a8817;
        border: 2px solid #0a8817;
    }

    &:focus {
        color: #FCFCFC;
    }
}

.button--filling {
    border: none;
    background-color: #f8d24e;

    &:hover,
    &:focus {
        border: none;
        background-color: #0a8817;
    }
}

.button--transparent {
    background-color: transparent;
    border-color: 2px solid #f8d24e;

    &:hover,
    &:focus {
        background-color: transparent;
        border: 2px solid #0a8817;
    }

    &:focus {
        background-color: transparent;
        color: #fcfcfc;
    }
}

button,
input {
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
}

button {
    cursor: pointer;
    background-color: inherit;
}*/