.header {
  background: #84a278;
  margin: 0 auto;
  // margin-left: auto;
  // margin-right: auto;

  @media screen and(min-width:320px) and (max-width: 767px) {
    display: flex;
    margin: auto;
  }
  @media screen and(min-width:768px) and (max-width: 1199px) {
    display: flex;
    margin: 0 auto;
  }
}

.header-container {
  // max-width: 1200px;
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  @media screen and(min-width:320px) and (max-width: 767px) {
    width: 480px;
    display: flex;
    margin: 0 auto;
  }
  @media screen and(min-width:768px) and (max-width: 1199px) {
    width: 768px;
    display: flex;
    margin: 0 auto;
  }
}

.header__list {
  display: flex;
  gap: 28px;
  @media screen and(max-width:1199px) {
    display: none;
  }
}
.header__link {
  text-decoration: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #fcfcfc;
  &:hover,
  &:focus {
    color: #f8d24e;
  }
}
.header__buttons {
  display: flex;
  gap: 32px;
}
.header__button-buy {
  width: 152px;
  height: 42px;
  @media screen and(max-width:767px) {
    display: none;
  }
}

.menu-toggle {
  background-color: rgb(0 0 0 / 0%);
  border: none;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  @media screen and(min-width:1199px) {
    display: none;
  }
  .mobile-menu-icon {
    fill: currentColor;
  }
}
