.buynow__backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.buynow__backdrop {
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.buynow__modal--close {
  display: flex;
  background: transparent;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 12px;
}

.close--icon {
  width: 100%;
  height: 100%;
  fill: #131313;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close--icon:hover,
.close--icon:focus {
  fill: #f8d24e;
}

.buynow__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  z-index: 2;
  @media screen and (max-width: 767px) {
    padding: 28px;
    width: 280px;
  }
  @media screen and (min-width: 768px) {
    padding: 32px 54px;
    width: 568px;
  }
}

.buynow {
  display: block;
  font-family: Seymour One, sans-serif;
  font-weight: 400;
  align-items: center;
  text-align: center;
  color: #131313;
  margin-bottom: 20px;
  @media screen and (max-width: 767px) {
    font-size: 16px;
    line-height: calc(24 / 16);
    margin-bottom: 86px;
  }
  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: calc(28 / 20);
    margin-left: 63px;
    margin-right: 63px;
    margin-bottom: 106px;
  }
}

.buynow__card-box {
  display: flex;
  flex-direction: column;
  row-gap: 90px;
  align-items: center;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    column-gap: 32px;
    justify-content: center;
  }
}

.buynow__card-wrapper {
  position: relative;
  width: 132px;
  height: 136px;
  border: none;
  border-radius: 16px;
}

.buynow__card-input {
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 132px;
  height: 206px;
  opacity: 0;
  cursor: pointer;

  &:checked ~ .buynow__box-first {
    background-color: #aec6a5;
  }
  &:checked ~ .buynow__box-second {
    background-color: #edd276;
  }
  &:checked ~ .buynow__box-third {
    background-color: #d6936d;
  }
}

.buynow__box-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 132px;
  height: 136px;
  border-radius: 16px;
  position: absolute;
  top: -1px;
  left: -1px;
}

.buynow__box-title:before {
  border-radius: 50%;
  content: '';
  position: absolute;
  top: 60%;
  left: -1px;
  width: 132px;
  height: 140px;
  background-repeat: no-repeat;
  
}

.buynow__box-first {
  border: 2px solid #aec6a5;
}

.buynow__box-first:before {
  position: absolute;
  top: -50%;
  left: -1px;
  background-image: url(../images/modal-buy/buy1.jpg),
    linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7));
  box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25);
}

.buynow__box-second {
  border: 2px solid #edd276;
}

.buynow__box-second::before {
  position: absolute;
  top: -50%;
  left: -1px;
  background-image: url(../images/modal-buy/buy2.jpg),
    linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
}

.buynow__box-third {
  border: 2px solid #d6936d;
}

.buynow__box-third::before {
  position: absolute;
  top: -50%;
  left: -1px;
  background-image: url(../images/modal-buy/buy3.jpg),
    linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7));
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
}

.buynow__card-title {
  margin-top: 95px;
  z-index: 3;
  text-align: center;
  text-transform: uppercase;
  color: #131313;
  font-size: 16px;
  font-weight: 700;
  line-height: calc(20/16);
}

.buynow__form {
  @media screen and (max-width: 767px) {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  @media screen and (min-width: 768px) {
    margin-left: 46px;
    margin-right: 46px;
    margin-top: 40px;
    margin-bottom: 32px;
  }
}

.buynow__form--field {
  display: flex;
  flex-direction: column;
  line-height: 1.4;
  color: #131313;
  @media screen and (max-width: 767px) {
    font-size: 12px;
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.buynow__form--field:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 12px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }
}

.buynow__form--input {
  display: block;
  max-width: 100%;
  cursor: pointer;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  margin: 0;
  transition-property: border-color, outline-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (max-width: 767px) {
    padding: 8px 12px 7px 12px;
  }
  @media screen and (min-width: 768px) {
    padding: 11px 16px 11px 16px;
  }
}

.buynow__form--input:hover,
.buynow__form--input:focus,
.buynow__form--input:focus-visible {
  border-color: #f8d24e;
  outline-color: #f8d24e;
}

textarea {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
}

.buynow__textarea--input {
  resize: none;
  max-width: 100%;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin: 0;
  cursor: pointer;
  transition-property: border-color, outline-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (max-width: 767px) {
    height: 64px;
    padding: 8px 12px 8px 12px;
  }
  @media screen and (min-width: 768px) {
    height: 84px;
    padding: 11px 16px 11px 16px;
  }
}

.buynow__textarea--input:focus,
.buynow__textarea--input:hover,
.buynow__textarea--input:focus-visible {
  border-color: #f8d24e;
  outline-color: #f8d24e;
}

.textarea__input::placeholder {
  justify-content: center;
  align-items: center;
}

.buynow__submit--button.button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 34px;
  color: #131313;
  @media screen and (max-width: 767px) {
    font-size: 12px;
    line-height: 1.25;
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.21;
  }
}
