.menu {
  display: flex;
  flex-direction: column;

  position: fixed;
  top: 0;
  left: 0;
  padding-bottom: 60px;

  background-color: $bgGreenColor;
  width: 100%;
  height: 100%;
  z-index: 5;
  transform: translateX(100%);
  transition: transform var(--main-animation);
  overflow: auto;

  &.is-open {
    transform: translateX(0);
  }
}

.menu-nav {
  margin-top: 100px;
  margin-bottom: auto;
  text-align: center;

  @media screen and (max-height: 520px) {
    margin-bottom: 50px;
  }
}

.logo {
  position: absolute;
  width: 48px;
  height: 44px;

  &:hover,
  &:focus {
    animation: random-shake 2s;
    animation-iteration-count: infinite;
  }

  @media screen and (max-width: 320px) {
    width: 40px;
    height: 37px;
  }
}

.header__logo {
  top: 12px;
}

.logo__icon {
  width: 100%;
  height: 100%;
}

.menu__logo {
  @media screen and (min-width: 481px) {
    top: 20px;
    left: 32px;
  }

  @media screen and (max-width: 480px) and (max-width: 321px) {
    top: 20px;
    left: 20px;
  }

  @media screen and (max-width: 320px) {
    top: 12px;
    left: 32px;
  }
}

.menu-nav__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.menu-nav__link {
  transition: color var(--main-animation);

  text-decoration: none;
  color: var(--main-light);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;

  &:hover,
  &:focus {
    color: black;
  }
}

.menu-togglen {
  fill: var(--main-light);
  position: absolute;

  top: 16px;
  right: 20px;
  transition: fill var(--main-animation);
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.menu__button {
  margin-left: auto;
  margin-right: auto;
  width: 152px;
  height: 42px;

  @include mq(phone) {
    display: none;
  }
}
